<div class="center">
	<h1>AngularBot</h1>
	<ng-container *ngFor="let message of messages | async">
	  <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
	                                    'to':   message.sentBy === 'user' }">
	    {{ message.content }}
	  </div>
	</ng-container>
	<label for="nameField">Posez moi une question sur la coupe du monde</label>
	<input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text">
	<button (click)="sendMessage()">Envoyer</button>
</div>